version: '3.7'
services:
  recomendation-service:
    image: claudiooak/recomendationservice:{{ recomendationservice_tag|default('0.0.1') }} 
    deploy:
      replicas: 1
      labels:
        # Enable traefik for this service
        - "traefik.enable=true"
        - "traefik.http.routers.recomendation{{ swarm_stack_name }}.rule=Host(`recomendation.{{ swarm_stack_name }}.{{ domain|default('localhost') }}`)"
        - "traefik.http.services.recomendation{{ swarm_stack_name }}-service.loadbalancer.server.port=8080"
    environment:
      - OTEL_RATIO={{ otel_ratio }}
      - OTEL_ENDPOINT={{ otel_endpoint }}
      - KAFKA_BOOTSTRAP_SERVERS={{ kafka_bootstrap_servers }}
      - THEMOVIEDB_API_KEY={{ themoviedb_api_key }}
    networks:
      - kafka_network
      - services_network
      - {{ traefik_network_name }}

networks:
  kafka_network:
  postgres_network:
  services_network:
  keycloak_network:
  {{traefik_network_name}}:
    #  If we want traefik to be able to proxy to multiple stacks we need to have one external network!!
    external: true
